@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import '_variables.scss';

* {
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: $bg-color;
}

.navbar {
  margin-bottom: 0;
  background-color: $large-section;
  border:none;
  border-radius: 0;
}

.navbar-default {
  .navbar-nav {
    li{
      a {
        color: $header-text;
        &:hover {
          color: $header-hover;
        }
      }
    }
  }

  .navbar-brand {
    color: $header-text;
    &:hover {
      color: $header-hover;
    }
  }
  .container {
    border-bottom: 1px solid $header-text;
  }
}

.jumbotron {
  background-color: $large-section;
  p {
    color: $header-text;
    text-align: center;

  }
  img {
    margin: auto;
    margin-bottom: 20px;
  }
}

#blogExcerpt {
  border-bottom: 1px solid $header-text;
  padding-bottom: 25px;
  h3 {
    a {
      font-weight: bold;
      color: $post-title;
      &:hover {
        text-decoration: none;
        color: $post-title-hover;
      }
    }
  }

  p {
    text-align: justify;
  }

  .btn-default {
    border: 2px solid $large-section;
    color: $large-section;
    padding-left: 30px;
    padding-right: 30px;
  }

}

.sidebar {
  background-color: $header-text;
  padding-bottom: 20px;
}

.social-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    a {
      color: $large-section;
      &:hover {
        color: $header-hover;
      }
    }
  }
}

#options {
  text-align: center;
  a {
    color: $header-text;
    &:hover {
      color: $post-title;
    }
  }
}

#pagination {
  text-align: center;
  margin: 20px;
  a {
    color: $post-title;
  }
}

.well {
  margin-bottom: 0;
  background-color: $large-section;
  a {
    color: $header-text;
    &:hover{
      display: block;
      color: $post-title;
    }
  }
}

.footer {
    p {
      padding-top:15px;
      color: $header-text;
    }

  }

.btn-primary {
  background-color: $post-title;
  border: none;
  &:hover {
    background-color: $post-title-hover;
  }
}

#ack {
  margin-top: 15px;
}
